doctype html
html
    head
        title #{title}
        link(href='/styles/style.css', rel='stylesheet')
        script.
            var renderStart = new Date().getTime();
            window.onload=function() { 
               var elapsed = new Date().getTime()-renderStart;
               console.log('Rendered in ' + elapsed + 'ms'); 
            } 
    body
    #content
        .header
            h3 Express ToDo List
            span#load-task 
                a(href="/toDo/loadTasks") Load tasks
            span#load-task 
                a(href="/toDo/deleteTasks") Delete tasks
            hr
            
        form(id='form', method='post', action='/toDo/create')
            label(for='name') Name
            input(type='text', id='name', name='name')
            input(type='checkbox', id='checkbox', name='status')
            input(type='submit', value='Add task')

        table.grid-table
            each item in toDos
                tr
                    td.firstCol
                        a(href='/toDo/details/#{item.id}') #{item.id}
                    td(class='#{item.status}').secondCol
                        a(href='/toDo/edit/#{item.id}') #{item.name}
                    td(class='#{item.status}').thirdCol #{item.status}
                    td.fourthCol
                        a(href='/toDo/delete/#{item.id}') Delete

